<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.developer.gearunity" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:name="com.samsung.developer.gearunity.application.RssApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.samsung.developer.gearunity.RssActivity"
            android:label="@string/title_activity_rss_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".gear_notifications.GearAnnouncer">
            <intent-filter>
                <action android:name="com.samsung.developer.gearunity.notify_gear"/>
            </intent-filter>
        </service>

        <service
            android:name=".rss_service.BbcRssService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.samsung.developer.gearunity.rss_service.bbc_request"/>
            </intent-filter>
        </service>

        <receiver android:name=".rss_service.BootReceiver">
            <intent-filter>
                <action android:name="com.samsung.developer.gearunity.boot_receiver"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
